@media (max-width: 450px) {
    .style-title img {
        width: 1.9em;
    }
    .style-title h1 {
        font-size: 1.9em;
    }
    .style-title h2 {
        font-size: 0.8em;
    }
    .photo-profil {
        width: 300px;
        margin: auto;
        margin-top: 1em;
    }
    .style-form-comment input {
        width: 100%;
        margin-bottom: 5px;
    }
}

@media (max-width: 740px) and (orientation: landscape) {
    .style-title img {
        width: 1.9em;
    }
    .style-title h1 {
        font-size: 2.2em;
    }
    .style-title h2 {
        font-size: 0.8em;
    }
}
