.style-title {
  margin-bottom: 3em;
}
.style-title h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Raleway", Arial, serif;
  font-weight: 300;
  font-size: 4em;
  color: #666;
}
.style-title h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Raleway", Arial, serif;
  font-weight: 300;
  font-size: 1em;
}

.style-articles {
  margin-top: 1em;
  border: 1px solid #E0E0E0;
}
.style-articles h2 {
  font-size: 18px;
  line-height: 27px;
  color: #333;
  font-family: "Raleway", Arial, serif;
  font-weight: 300;
  margin-left: 0.5em;
}
.style-articles h2 > a {
  color: #5FA9BF;
  text-decoration: none;
}
.style-articles h2 > a:hover {
  color: #7FE2FF;
}
.style-articles p {
  font-family: "Raleway", Arial, serif;
  color: #333;
  padding: 0 1.5em;
  font-size: 0.9em;
}
.style-articles ul {
  list-style: none;
  margin-left: -30px;
}
.style-articles li {
  display: inline-block;
  font-family: "Raleway", Arial, serif;
  color: #333;
  font-size: 0.8em;
}

.style-lien a {
  color: #5FA9BF;
  text-decoration: none;
}

.style-lien a:hover {
  color: #7FE2FF;
}

.style-sidebar {
  margin-top: 1em;
  border: 1px solid #E0E0E0;
}
.style-sidebar h2 {
  font-size: 18px;
  line-height: 27px;
  color: #5FA9BF;
  font-family: "Raleway", Arial, serif;
  font-weight: 300;
  margin-left: 0.5em;
  text-align: center;
}
.style-sidebar ul {
  list-style-image: url("logo.png");
}
.style-sidebar li {
  font-family: "Raleway", Arial, serif;
  color: #333;
  font-size: 0.9em;
  text-transform: uppercase;
}
.style-sidebar ul > hr {
  margin-left: -40px;
}

.style-twitter {
  margin-top: 1em;
  border: 1px solid #E0E0E0;
}

.style-presentation {
  margin-top: 1em;
  border: 1px solid #E0E0E0;
}
.style-presentation h2 {
  font-size: 18px;
  line-height: 27px;
  color: #5FA9BF;
  font-family: "Raleway", Arial, serif;
  font-weight: 300;
  margin-left: 0.5em;
}
.style-presentation p {
  font-family: "Raleway", Arial, serif;
  color: #333;
  padding: 0 1.5em;
  font-size: 0.9em;
}

.style-reseaux-sociaux {
  text-align: center;
  padding-bottom: 1.5em;
}
.style-reseaux-sociaux img {
  display: inline-block;
  width: 50px;
}

.style-related-posts {
  border: 1px solid #E0E0E0;
  margin-top: 1em;
}
.style-related-posts h2 {
  font-size: 18px;
  line-height: 27px;
  color: #5FA9BF;
  font-family: "Raleway", Arial, serif;
  font-weight: 300;
  margin-left: 0.5em;
}
.style-related-posts h3 {
  font-family: "Raleway", Arial, serif;
  font-weight: 300;
  font-size: 14px;
}
.style-related-posts p {
  font-family: "Raleway", Arial, serif;
  font-size: 0.8em;
}
.style-related-posts .padding-slider {
  padding: 0 1.5em;
}

.style-comments {
  border: 1px solid #E0E0E0;
  margin-top: 1em;
  padding-bottom: 1em;
}
.style-comments h2 {
  font-size: 18px;
  line-height: 27px;
  color: #5FA9BF;
  font-family: "Raleway", Arial, serif;
  font-weight: 300;
  margin-left: 0.5em;
}
.style-comments p {
  font-family: "Raleway", Arial, serif;
  font-size: 0.9em;
  margin: 0 1.5em;
}

.style-leave-comment {
  margin-top: 1em;
  border: 1px solid #E0E0E0;
}
.style-leave-comment h2 {
  font-size: 18px;
  line-height: 27px;
  color: #5FA9BF;
  font-family: "Raleway", Arial, serif;
  font-weight: 300;
  margin-left: 0.5em;
}
.style-leave-comment .style-form-comment {
  padding: 1em;
}
.style-leave-comment textarea {
  width: 100%;
  border-color: #E0E0E0;
}
.style-leave-comment input {
  border: 1px solid #E0E0E0;
  width: 49.7%;
}
.style-leave-comment .button-comment {
  border: 1px solid #5FA9BF;
  width: 130px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-top: 1em;
}
.style-leave-comment .button-comment a {
  text-decoration: none;
  color: #5FA9BF;
}

/*# sourceMappingURL=style.css.map */
