.style-title {
    margin-bottom: 3em;
    h1 {
        text-align: center;
        text-transform: uppercase;
        font-family: "Raleway", Arial, serif;
        font-weight: 300;
        font-size: 4em;
        color: #666;
    }
    h2 {
        text-align: center;
        text-transform: uppercase;
        font-family: "Raleway", Arial, serif;
        font-weight: 300;
        font-size: 1em;
    }
}

.style-navbar {
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    ul {
        list-style: none;
        height: 3em;
        text-align: center;
        padding: 0;
    }
    li {
        display: inline-block;
        line-height: 4em;
        color: #5FA9BF;
    }
    a {
        text-transform: uppercase;
        font-family: "Raleway", Arial, serif;
    }
}

.style-articles {
    margin-top: 1em;
    border: 1px solid #E0E0E0;
    // -moz-box-shadow: 1px 1px 5px 0px #7FE2FF;
    // -webkit-box-shadow: 1px 1px 5px 0px #7FE2FF;
    // -o-box-shadow: 1px 1px 5px 0px #7FE2FF;
    // box-shadow: 1px 1px 5px 0px #7FE2FF;
    // filter:progid:DXImageTransform.Microsoft.Shadow(color=#7FE2FF, Direction=134, Strength=5);
    h2 {
        font-size: 18px;
        line-height: 27px;
        color: #333;
        font-family: "Raleway", Arial, serif;
        font-weight: 300;
        margin-left: 0.5em;
    }
    h2 > a {
        color: #5FA9BF;
        text-decoration: none;
    }
    h2 > a:hover {
        color: #7FE2FF;
    }
    p {
        font-family: "Raleway", Arial, serif;
        color: #333;
        padding: 0 1.5em;
        font-size: 0.9em;
    }
    ul {
        list-style: none;
        margin-left: -30px;
    }
    li {
        display: inline-block;
        font-family: "Raleway", Arial, serif;
        color: #333;
        font-size: 0.8em;
    }
}

.style-lien a {
    color: #5FA9BF;
    text-decoration: none;
}
.style-lien a:hover {
    color: #7FE2FF;
}

.style-sidebar {
    margin-top: 1em;
    border: 1px solid #E0E0E0;
    h2 {
        font-size: 18px;
        line-height: 27px;
        color: #5FA9BF;
        font-family: "Raleway", Arial, serif;
        font-weight: 300;
        margin-left: 0.5em;
        text-align: center;
    }
    ul {
        list-style-image: url("logo.png");
    }
    li {
        font-family: "Raleway", Arial, serif;
        color: #333;
        font-size: 0.9em;
        text-transform: uppercase;
    }
    ul > hr {
        margin-left: -40px;
    }
}

.style-twitter {
    margin-top: 1em;
    border: 1px solid #E0E0E0;
}

.style-presentation {
    margin-top: 1em;
    border: 1px solid #E0E0E0;
    h2 {
        font-size: 18px;
        line-height: 27px;
        color: #5FA9BF;
        font-family: "Raleway", Arial, serif;
        font-weight: 300;
        margin-left: 0.5em;
    }
    p {
        font-family: "Raleway", Arial, serif;
        color: #333;
        padding: 0 1.5em;
        font-size: 0.9em;
    }
}

.style-reseaux-sociaux {
    text-align: center;
    padding-bottom: 1.5em;
    img {
        display: inline-block;
        width: 50px;
    }
}

.style-related-posts {
    border: 1px solid #E0E0E0;
    margin-top: 1em;
    h2 {
        font-size: 18px;
        line-height: 27px;
        color: #5FA9BF;
        font-family: "Raleway", Arial, serif;
        font-weight: 300;
        margin-left: 0.5em;
    }
    h3 {
        font-family: "Raleway", Arial, serif;
        font-weight: 300;
        font-size: 14px;
    }
    p {
        font-family: "Raleway", Arial, serif;
        font-size: 0.8em;
    }
    .padding-slider {
        padding: 0 1.5em;
    }
}

.style-comments {
    border: 1px solid #E0E0E0;
    margin-top: 1em;
    padding-bottom: 1em;
    h2 {
        font-size: 18px;
        line-height: 27px;
        color: #5FA9BF;
        font-family: "Raleway", Arial, serif;
        font-weight: 300;
        margin-left: 0.5em;
    }
    p {
        font-family: "Raleway", Arial, serif;
        font-size: 0.9em;
        margin: 0 1.5em;
    }
}

.style-leave-comment {
    margin-top: 1em;
    border: 1px solid #E0E0E0;
    h2 {
        font-size: 18px;
        line-height: 27px;
        color: #5FA9BF;
        font-family: "Raleway", Arial, serif;
        font-weight: 300;
        margin-left: 0.5em;
    }
    .style-form-comment {
        padding: 1em;
    }
    textarea {
        width: 100%;
        border-color: #E0E0E0;
    }
    input {
        border: 1px solid #E0E0E0;
        width: 49.7%;
    }
    .button-comment {
        border: 1px solid #5FA9BF;
        width: 130px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin-top: 1em;
    }
    .button-comment a {
        text-decoration: none;
        color:  #5FA9BF;
    }
}

.footer {
    margin-top: 30px;
    p {
        text-align: center;
        font-family: "Raleway", Arial, serif;
        color: #444;
        font-size: 0.8em;
    }
}
